// Styling for forms

legend {
  font-family: "Comfortaa", cursive;
}
.datetimepicker {
  background-color: $primarylight;
  color: $primarydark;
  border: 1px solid $primarydark;
  border-radius: 20px;
}
