<%= stylesheet_pack_tag 'home' %>
<div class='container-fluid'>
  <div class= 'm-5'></div>
  <h1 class='text-center'> Welcome to ADHDEffect </h1>
  <div class= 'p-5'></div>
  <p class='text-center'>ADHDEffect is a web app designed to track your moods, side effects, and tolerance development from new ADHD medications.</p> 
  <div class='p-2'></div>
  <div class='row button-container'>
    <%= link_to  "Sign In",new_user_session_path, class:'btn btn-primary btn-lg text-nowrap m-2', type: 'button' %>
    <%= link_to  "Sign Up",new_user_registration_path, class:'btn btn-primary btn-lg text-nowrap m-2', type: 'button' %>
  </div>
</div>