<%= stylesheet_link_tag 'home' %>
<div class='container'>
  <div class='row'>
    <div class="col-lg-1"> 
      <div class='row text-center'>
        <h1> Welcome to ADHDEffect </h1>
      </div>
      <div class='row text-center'>
        ADHDEffect is a web app designed to track your moods, side effects, and tolerance development from new ADHD medications.
      </div> 
      <div class='row'>
        <div class='col' ></div>
        <button type='button' class='btn btn-primary'>Sign In</button>
        <button type='button' class='btn btn-primary'>Sign Up</button>
      </div>
    </div>

    <div class='col-lg-1'>
        <div class='col-sm'>test</div>
        <div class='col-sm'>test</div>
    </div>
  </div>
</div>