<%= stylesheet_link_tag 'home' %>
<div class='container-fluid'>
  <div class= 'm-5'></div>
  <h1 class='text-center'> Welcome to ADHDEffect </h1>
  <div class= 'p-5'></div>
  <p class='text-center'>ADHDEffect is a web app designed to track your moods, side effects, and tolerance development from new ADHD medications.</p> 
  <div class='p-2'></div>
  <div class='row button-container'>
   
      <button type='button' class='btn btn-primary btn-lg text-nowrap m-2'>Sign In</button>
   
  
    
      <button type='button' class='btn btn-primary btn-lg text-nowrap m-2'>Sign Up</button>
   
  </div>
</div>