<%= stylesheet_link_tag 'home' %>
<div class='container'>
  <h1> Welcome to ADHDEffect </h1>


  ADHDEffect is a web app designed to track your moods, side effects, and tolerance development from new ADHD medications.

  <button type='button' class='btn btn-primary'>Sign In</button>
  <button type='button' class='btn btn-primary'>Sign Up</button>
</div>