<div class='container-fluid'>
  <div class= text-center>
    <h1>Let's see how it's been going:</h1>
  </div>
  <div class='row my-5'>
    <div class='col-2'></div>
    <div class='col-4'>
      <h3 class='text-center'>Mood</h3>
      <% data_hash = {}%>
      <% @user_effects.each { |record|  data_hash[record.datetime] = record.mood}%>
      <%= area_chart data_hash %>
    </div>
    <div class='col-4 data'>
      <h3 class='text-center'>position test</h3>
      <%= image_tag 'pandas.jpg', class: 'img-fluid' %>
    </div>
    <div class='col-2'></div>
  </div>
  <div class="text-center">
  <%= link_to 'How are you feeling today?', new_effect_path, class:'btn btn-primary btn-lg text-nowrap m-2', type: 'button' %>
  </div>
</div>