// Styling of user authorization pages
.devise .field {
  margin: 2rem;
  font-family: 'Zilla Slab', serif;
}

.devise h2 {
  margin-top: 2rem;
}

.devise .links {
  font-family: 'Zilla Slab', serif;
}